/*
    Document   : mytodo/app/styles/app．css
    Created on : 2014-12-18 10:00 AM
    Author     : sirajrkhan
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}